.clock-body {
  display: grid;
  grid-template-columns: repeat(3, minmax(7ch, 1fr));
  margin: auto;
  width: 50vw;
  text-transform: capitalize;
  font-family: monospace;
  color: #d2cece;
  font-size: 24px;
}

.clock-body .active {
  color: black;
}

.clock-body span {
  transition: color 1s ease;
  margin: 0.4em;
}

.clock-body span:nth-child(3n-1) {
  text-align: center;
}

.clock-body span:nth-child(3n) {
  text-align: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

@media all and (orientation: portrait) {
  .clock-body {
    overflow: hidden;
    width: 90vw;
    font-size: 15px;
    grid-template-columns: repeat(2, 15ch);
  }

  .clock-body span:nth-child(3n-1) {
    text-align: left;
  }

  .clock-body span:nth-child(3n) {
    text-align: left;
  }

}
